$pure-white: #ffffff;
$second-white: #fefefe;

$pure-black: #000000;
$second-black: #161615;

$primary-grey: #707070;
$stronger-grey: #4e4e4e;

$primary-yellow: #fff5d4;
$stronger-yellow: #ffdd6d;

$primary-orange: #fea234;
$primary-blue: #1977f3;

$cta-gradient: linear-gradient(#fe8c25, #ffd255);
$cta-gradient2: linear-gradient(#ffd255, #ffd255);
$shadow: rgba(0, 0, 0, 0.161);

$cookie-alert-bg: #ffe8a9;
