@use "colors" as *;

.contact-header-img {
	background-image: url("../img/kontakt-header-small.jpg");
}

.contact {
	scroll-margin-top: 82px;

	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__text {
		margin-bottom: 3em;
		font-size: 1.6rem;
		text-align: center;
	}

	&__item {
		height: 18rem;
		width: 30rem;
		margin-bottom: 2em;
		padding: 2em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $primary-yellow;
		border-radius: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover .text-hover {
			color: $primary-orange;
		}

		&--img {
			height: 5rem;
			width: 5rem;
			margin-bottom: 1em;
		}

		&--text {
			font-size: 1.8rem;
			text-align: center;
			transition: color 0.3s;

			.text-bold {
				font-size: 2.4rem;
			}
		}
	}
}

// MEDIA
@media (min-width: 576px) {
	.contact-header-img {
		background-image: url("../img/kontakt-header-big.jpg");
		background-position: 10% 35%;
		background-size: 130%;
	}
}

@media (min-width: 768px) {
	.contact-header-img {
		background-position: 40% 35%;
	}

	.contact {
		scroll-margin-top: 130px;
		&__items {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			gap: 2em;
		}

		&__text {
			font-size: 2rem;
		}

		&__item {
			&:last-child {
				margin-bottom: 2em;
			}
		}
	}
}

@media (min-width: 992px) {
	.contact-header-img {
		background-position: 30% 35%;
		background-size: 110%;
	}
}

@media (min-width: 1200px) {
	.contact {
		scroll-margin-top: 140px;

		&__text {
			font-size: 2.4rem;
		}

		&__item {
			height: 35rem;
			width: 41rem;

			&--img {
				height: 7rem;
				width: 7rem;
			}

			&--text {
				font-size: 2.4rem;
			}
			.text-bold {
				margin-top: 0.5em;
				font-size: 3.6rem;
			}
		}
	}
}

@media (min-width: 1600px) {
	.contact-header-img {
		background-position: 0 35%;
		background-size: cover;
	}

	.contact {
		&__items {
			flex-wrap: nowrap;
		}
	}
}
